<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap uap3 uap5 mp">

  <Identity
    Name="GHelperXboxBar"
    Publisher="CN=GHelperXboxBar"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="6a1b1e3e-1234-5678-9abc-def012345678" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>G-Helper Battery</DisplayName>
    <PublisherDisplayName>GHelperXboxBar</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="GHelperXboxBar.exe"
                 EntryPoint="GHelperXboxBar.App">
      <uap:VisualElements
        DisplayName="G-Helper Battery"
        Description="Live battery percentage and charge/discharge rate in Xbox Game Bar"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png"
        BackgroundColor="#1F1F1F"
        AppListEntry="none">
        <uap:DefaultTile Square71x71Logo="Images\SmallTile.png"
                         Wide310x150Logo="Images\Wide310x150Logo.png"
                         Square310x310Logo="Images\LargeTile.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="#1F1F1F" />
      </uap:VisualElements>

      <Extensions>
        <!-- Xbox Game Bar widget declaration (modern contract). -->
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="microsoft.gameBarUIExtension"
            Id="GHelperBatteryWidget"
            PublicFolder="Public"
            DisplayName="G-Helper Battery"
            Description="Live battery percentage and charge/discharge rate, pinnable on the Xbox Game Bar home bar.">
            <uap3:Properties>
              <GameBarWidget Type="Standard">
                <HomeMenuVisible>true</HomeMenuVisible>
                <PinningSupported>true</PinningSupported>
                <Window>
                  <Size>
                    <Height>32</Height>
                    <Width>120</Width>
                    <MinHeight>24</MinHeight>
                    <MinWidth>90</MinWidth>
                    <MaxHeight>80</MaxHeight>
                    <MaxWidth>200</MaxWidth>
                  </Size>
                  <ResizeSupported>
                    <Horizontal>true</Horizontal>
                    <Vertical>true</Vertical>
                  </ResizeSupported>
                </Window>
              </GameBarWidget>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
